.burgerQuiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 100%;
}

.topBurger {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.burgerQuiz h3 {
  color: white;
  margin: 30px;
  font-size: 30px;
}
.quoteBurger {
  background-color: rgb(4, 61, 0);
  padding: 30px;
  border-radius: 10px;
}

h3.titleBurger {
  font-size: 40px;
  margin-bottom: 40px;
}

.burgerQuiz p {
  color: white;
  font-size: 25px;
}

.divGame {
  display: flex;
  flex-direction: column;
}

.divButton {
  display: flex;
  justify-content: center;
}

.burgerQuiz button {
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: 2px solid rgb(255, 255, 151);
  background-color: rgb(20, 20, 20);
  min-width: 100px;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

.burgerQuiz button:hover {
  background-color: rgb(255, 255, 151);
  color: rgb(20, 20, 20);
}

@media screen and (max-width: 450px) {
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .burgerQuiz button {
    margin: 10px;
  }
}

.score {
  color: white;
  margin: 30px 15px 60px;
  background-color: rgb(4, 61, 0);
  padding: 10px;
  border-radius: 10px;
}
