@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.home {
    height: 100%;
    width: 100%;
  background-image: url("/src/img/781822.jpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
  
}
button {
    height: 50px;
    margin-top: 100px;
    margin-right: 330px;
  font-family: anton;
  font-size: 1rem;
  padding: 10px 30px 10px 30px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
}

@media screen and (max-width: 400px) {

.home{
    background-image: none;
    background-color: yellow;
  
    
}

  button{
 
  }
  
}
